@font-face {
    font-family: "NanumMyeongjo";
    src: url("../font/NanumMyeongjo.ttf");
}
@font-face {
    font-family: "NanumMyeongjoBold";
    src: url("../font/NanumMyeongjoBold.ttf");
}
@font-face {
    font-family: "NanumMyeongjoExtraBold";
    src: url("../font/NanumMyeongjoExtraBold.ttf");
}
@font-face {
    font-family: "NanumDdarEGeEomMaGa";
    src: url("../font/NanumDdarEGeEomMaGa.ttf");
}
@font-face {
    font-family: "NanumGothic";
    src: url("../font/NanumGothic.ttf");
}

.bookcase{
    position: relative;
    z-index: 0;
    background-color: #F4EEE4;
    width: 97.5vh;
    height: 60vh;
}

.bookcase-title{
    font-family: "NanumDdarEGeEomMaGa";
    right: 3%;
    font-size: 2.5rem;
    position: absolute;
    z-index: 1;
}

.bookcase-content{
    /* position: absolute;
    z-index: 1;
    text-align: center;
    background-color:blueviolet;
    padding: 0;
    margin: 0;
    bottom: 0%; */
}

.bookcase-bookstore-books{
    position: absolute;
    z-index: 1;
    padding: 20px;
    bottom: 0%;
    float: left;
    text-align: center;
    font-size: 2rem;
    font-family: "NanumDdarEGeEomMaGa";
    writing-mode: tb-rl;
}