.guestbookmemo{
    background-color: #FFFBF4;
    width: 50vh;
    height: 9vh;
    border: 1px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #5a5a5a;
    padding-top: 10px;
    padding-left: 30px;
        
    font-family: "NanumMyeongjo";
    font-size: 20px;
}

.guestbookmemoWriter {
    font-size: 14px;
    color: #5a5a5a;
}

.guestbookBookmark{
    background-color: #C4C4C4;
    width: 40px;
    height: 160px;
}

