.CardBlock {
    margin: 20px;
    display: flex;
    width: 70%;
    height: 80%;
    background-color: #F4EEE4;
    border-radius: 33px;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
}

.nav-link {
    text-decoration: none;
    color: #F7F5DD;
    transition: 0.3s;
}

.mypage-bookmark{
    position: absolute;
    z-index: 2;
    background-color: #C4C4C4;
    width: 3vh;
    height: 0.5vh;
    right: 20vh;
    top: 0vh;
}
