@font-face {
    font-family: "NanumMyeongjo";
    src: url("../font/NanumMyeongjo.ttf");
}
@font-face {
    font-family: "NanumMyeongjoBold";
    src: url("../font/NanumMyeongjoBold.ttf");
}
@font-face {
    font-family: "NanumMyeongjoExtraBold";
    src: url("../font/NanumMyeongjoExtraBold.ttf");
}
@font-face {
    font-family: "NanumDdarEGeEomMaGa";
    src: url("../font/NanumDdarEGeEomMaGa.ttf");
}
@font-face {
    font-family: "NanumGothic";
    src: url("../font/NanumGothic.ttf");
}

.review-page{
    position: relative;
    padding-top: 80px;
    background-color: #E4D7C4;
    font-family: "NanumMyeongjo";
    z-index: 0;
}

.review-book{
    position: relative;
    margin-left: 14vh;
    z-index: 0;
}

.all-review{
    display: grid;
    position: absolute;
    z-index: 1;
    top: 5vh;
    left: 14vh;
    grid-template-columns:repeat(2, 1fr);
    grid-column-gap: 12vh;
    grid-auto-rows: auto;
}

.popular-order-button{
    position: absolute;
    background: none;
    outline: none;
    border: none;
    background-color: #91B1A1;
    font-family: "NanumMyeongjo";
    font-size: 1.8rem;
    z-index: 0;
    width: 17vh;
    height: 7vh;
    right: 7.3vh;
    top: 10vh;
    padding: 10px;
    align-items: center;
}

.latest-order-button{
    position: absolute;
    background: none;
    outline: none;
    border: none;
    background-color: #91B1A1;
    font-family: "NanumMyeongjo";
    font-size: 1.8rem;
    z-index: 0;
    width: 17vh;
    height: 7vh;
    right: 7.3vh;
    top: 18vh;
    padding: 10px;
    align-items: center;
}

.bottom-arrow-keys{
    margin-left: 20%;
}

.review-left-button{
    background: none;
    outline: none;
    border: none;
    align-items: center;
}

.review-left-button:hover{
    color: #FFFFFF;
}

.review-left-button-icon{
    background: none;
    outline: none;
    border: none;
    margin-top: 20px;
    font-size: 5rem;
    cursor: pointer;
}

.review-left-button-text{
    font-family: "NanumMyeongjo";
    margin-top: 40px;
    float: right;
    font-size: 2.2rem;
}

.review-right-button{
    background: none;
    outline: none;
    border: none;
    margin-left: 38%;
    align-items: center;
}

.review-right-button:hover{
    color: #FFFFFF;
}

.review-right-button-text{
    font-family: "NanumMyeongjo";
    margin-top: 40px;
    float: left;
    font-size: 2.2rem;
}

.review-right-button-icon{
    background: none;
    outline: none;
    border: none;
    float: right;
    margin-top: 20px;
    font-size: 5rem;
    cursor: pointer;
}

.review-write-button{
    background: none;
    outline: none;
    border: none;
    margin-left: 8%;
    margin-bottom: 30px;
    background-color: #C69D4D;
    /* padding: 3px 10px 10px 10px; */
    align-items: center;
}

.review-write-button:hover{
    color: #FFFFFF;
}

.review-write-button-text{
    font-family: "NanumDdarEGeEomMaGa";
    font-size: 2.3rem;
    float: left;
    padding: 3px 10px 10px 10px;
}

.review-write-button-icon{
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
    padding-top: 12px;
    padding-right: 10px;
    float: right;
    cursor: pointer;
}

.bottom-image-paper{
    position: absolute;
    background-image: url('../img/paper.png');
    width: 500px;
    height: 500px;
    z-index: -1;
    right: 0px; 
    bottom: -10px;
}

.bottom-image-pen{
    position: absolute;
    background-image: url('../img/fountain_pen.png');
    background-size: 250px;
    width: 180px;
    height: 500px;
    z-index: 1;
    right: 0px; 
    bottom: -7px;
}