@font-face {
    font-family: "NanumMyeongjo";
    src: url("../font/NanumMyeongjo.ttf");
}

.bookmarkResult {
    background-image: url("../img/booktest_result.png");
    width: 63%;
    height: 80%;
    background-size:cover;
    position: absolute;
    top: 15vh;
    left: 18%;
    box-shadow: 1px 1px 5px #000000;
}

.bookmarkResultText {
    font-family: "NanumMyeongjo";
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 35%;
    color: #000000;
}
