.bookArchive{
    position: relative;
    background-color: #C69D4D;
    padding: 5vh;
}

.bookArchive-content{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 5vh;
    grid-auto-rows: auto;
}