.bookArchive{
    background-color: #C69D4D;
    padding: 5vh;
}

.bookcase-top{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-rows:auto;
    grid-column: 10vh;
    margin-bottom: 5vh;
    margin-right: -5vh;
}

.bookcase-bottom{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-rows:auto;
    grid-row: 5vh;
    margin-right: -5vh;
}