@font-face {
    font-family: "NanumMyeongjo";
    src: url("../font/NanumMyeongjo.ttf");
}
@font-face {
    font-family: "NanumMyeongjoBold";
    src: url("../font/NanumMyeongjoBold.ttf");
}
@font-face {
    font-family: "NanumMyeongjoExtraBold";
    src: url("../font/NanumMyeongjoExtraBold.ttf");
}
@font-face {
    font-family: "NanumDdarEGeEomMaGa";
    src: url("../font/NanumDdarEGeEomMaGa.ttf");
}
@font-face {
    font-family: "NanumGothic";
    src: url("../font/NanumGothic.ttf");
}

.bookcase{
    position: relative;
    z-index: 0;
    background-color: #F4EEE4;
    width: 98vh;
    height: 60vh;
}

.bookcase-title{
    color: #000000;
    font-family: "NanumDdarEGeEomMaGa";
    right: 3%;
    padding-top: 5px;
    font-size: 2.5rem;
    position: absolute;
    z-index: 1;
}

.bookcase-bookstore-books{
    position: absolute;
    z-index: 1;
    padding: 20px 20px 20px 20px;
    bottom: 0%;
    float: right;
    display: flex;
    text-align: center;
    font-size: 1.9rem;
    font-family: "NanumDdarEGeEomMaGa";
    writing-mode: tb-rl;
}