@font-face {
    font-family: "NanumMyeongjo";
    src: url("../font/NanumMyeongjo.ttf");
}
@font-face {
    font-family: "NanumMyeongjoBold";
    src: url("../font/NanumMyeongjoBold.ttf");
}
@font-face {
    font-family: "NanumMyeongjoExtraBold";
    src: url("../font/NanumMyeongjoExtraBold.ttf");
}

.MyReview{
    background: #F4EEE4;
    color: #000000;
    font-family: "NanumMyeongjo";
    font-size: 20px;
    text-align: left;
    width: 90%;
    height: 50%;
    margin-bottom: 20px;
}

.my-review-bookstore {
    padding: 10px;
}

.my-review-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}