@font-face {
    font-family: "NanumMyeongjo";
    src: url("../font/NanumMyeongjo.ttf");
}
@font-face {
    font-family: "NanumMyeongjoBold";
    src: url("../font/NanumMyeongjoBold.ttf");
}
@font-face {
    font-family: "NanumMyeongjoExtraBold";
    src: url("../font/NanumMyeongjoExtraBold.ttf");
}

.SignUp {
    background: #E4D7C4;
    color: #790000;
    font-size: 60px;
    text-align: center;
    font-family: "NanumMyeongjo";
    padding-top: 60px;
    padding-bottom: 70px;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.toast {
    font-size: 14px !important;
    color: #0e110fd5  !important;
}

#sign-up-name {
    width: 450px;
    font-size: 19px;
    outline: none;
    border: none;
    border-bottom: 2px solid #790000;
    background-color: #E4D7C4;
    color: #790000;
}

#sign-up-email {
    width: 450px;
    font-size: 19px;
    outline: none;
    border: none;
    border-bottom: 2px solid #790000;
    background-color: #E4D7C4;
    color: #790000;
}

#sign-up-password {
    width: 450px;
    font-size: 19px;
    outline: none;
    border: none;
    border-bottom: 2px solid #790000;
    background-color: #E4D7C4;
    color: #790000;
}

#sign-up-name::placeholder{
    color: #790000;
    font-family: "NanumMyeongjo";
}

#sign-up-email::placeholder{
    color: #790000;
    font-family: "NanumMyeongjo";
}

#sign-up-password::placeholder{
    color: #790000;
    font-family: "NanumMyeongjo";
}

.sign-up-button{
    width: 140px;
    height: 40px;
    margin-top: 60px;
    background: none;
    outline: none;
    border: none;
    background-color: #005412;
    font-size: 1.2rem;
    font-family: "NanumMyeongjo";
    color: white;
}